
<h2>Statistics - {{key}} </h2>

<table class="display table table-striped" id='db-properties' cellspacing="0" width="100%">
    <thead>
        <tr>
        {% for key,value in cols %}
            <th>{{ key }}</th>
	{% endfor %}
        </tr>
    </thead>
    <tbody>
        <!-- loop through the basic array -->
        {% for key,value in basic %}
            <tr>
                <!-- loop through thekeys array -->
                {% for kc,kv in cols %}
                    <td>
                    {% if kc == 'property' %}
                        <a href="./dashboard-property/{{ attribute(value, kc) }}" >
                            {{ attribute(value, kc) }}
                        </a>
                    {% elseif kc == 'id' %} 
                        <a href="/browser/oeaw_detail/{{ attribute(value, kc) }}" >
                            {{ attribute(value, kc) }}
                        </a>
		    {% else %}      
                        <!-- use this special function to pass the field names from the keys array -->
                        {{ attribute(value, kc) }}
                    {% endif %}    
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>
    
<!--
<table class="display table table-striped" id='db-properties' cellspacing="0" width="100%">
    <thead>
        <tr>
        {% for key,value in cols %}
		<th>{{ key }}</th>
	{% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for key,value in basic %}
            <tr>
	{% if value.class %}
                <td>
                    {{ value.class }}
                </td>
	{% endif %}
	{% if value.property %}
                <td >
		 <a href="./dashboard-property/{{value.property}}" >
                    {{ value.property }}
		</a>
                </td>
	{% endif %}
        {% if value.value %}
                <td >
                    {{ value.value }}
                </td>
        {% endif %}

	{% if value.cnt_distinct_value %}
                <td >
                    {{ value.cnt_distinct_value }}
                </td>
	{% endif %}
                <td width='20%'>
                    {{ value.cnt }}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
-->
