
<h2>Statistics - {{key}} </h2>

<table class="display table table-striped" id='db-properties' cellspacing="0" width="100%">
    <thead>
        <tr>
        {% for key,value in cols %}
            <th>{{ key }}</th>
	{% endfor %}
        </tr>
    </thead>
    <tbody>
        <!-- loop through the basic array -->
        {% for key,value in basic %}
            <tr>
                <!-- loop through thekeys array -->
                {% for kc,kv in cols %}
                    <td>
                    {% if kc == 'title' and kv is not empty  %}
                        <a href="/browser/oeaw_detail/{{ attribute(value, 'key') }}" >
                            {{ attribute(value, kc) }}
                        </a>
                    {% elseif kc == 'property' %}
                        <a href="/browser/dashboard-property/{{ attribute(value, kc) }}" >
                            {{ attribute(value, kc) }}
                        </a>
                    {% elseif kc == 'id' %} 
                        <a href="/browser/oeaw_detail/{{ attribute(value, kc) }}" >
                            {{ attribute(value, kc) }}
                        </a>
		    {% else %}
                        <!-- use this special function to pass the field names from the keys array -->
                        {{ attribute(value, kc) }}
                    {% endif %}    
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>
  
